

<table class="table">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Completed</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of taskArray; index as i">
            <td>{{t.taskName}}</td>
            <td><input (change)="onCheck(i)" id="myCheckbox" type="checkbox"></td>
            <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
        </tr>

    </tbody>
</table>
